mixin feedback(data)
  .feedback&attributes(attributes)
    .container
      .steps__wrapper.animation--reveal
        .steps__number 10
        p
          span.ru А еще Longpoll нравится кандидатам
          span.en Сandidates like Longpoll
      .feedback__content
        .feedback__wrapper
          .feedback__row
            +review({
              contentRU: 'Дождалась))) завтра с утра видеособеседование с одним из организаторов открытого отбора', 
              authorRU: 'Ксения Цыганкова',
              contentEN: 'Tomorrow morning I’ll have a video interview with one of the open call’s organizers', 
              authorEN: 'Ksenia Tsygankova'
            })
            +review({
              contentRU: 'спасибо всем за активную работу. Я рад, что у нас команда оказалась сбалансированной и самодостаточной, никто не выпал и все активно участвовали в реализации заданий проекта.', 
              authorRU: 'Артур Ахметов',
              contentEN: 'Thanks to all for active work. I’m glad our team is balanced and self-sufficient, we were all engaged and took part in the implementation of the tasks. ', 
              authorEN: 'Artur Akhmetov'
            })
            +review({
              contentRU: 'Да там все условно, критерии так и остались непонятны да и карточка непонятно что отражает, все как то ни о чем)', 
              authorRU: 'Татьяна Громушкина',
              contentEN: 'Everything is conventional, the criteria are still unclear, the participant’s card reflects God knows what, so it’s all about nothing)', 
              authorEN: 'Tatyana Gromushkina'
            })
            +review({
              contentRU: 'Я на 25 месте. Но при этом у меня самые лучшие показатели по компетенциям-голосованию среди экспертов и участников – даже по сравнению с лидерами 💪 Так что все это от лукавого 😜', 
              authorRU: 'Роман Осин',
              contentEN: 'I ranked 25. At the same time, I have the best indicators for competencies - as experts and participants voted – even in comparison with the leaders 💪 So all these are from evil 😜', 
              authorEN: 'Roman Osin'
            })
            +review({
              contentRU: 'о да 🙂 все супер молодцы! надо оставаться на связи, как говорится 🙂', 
              authorRU: 'Софья Иванова',
              contentEN: 'oh yeah 🙂 great job! we should stay in touch as they say 🙂', 
              authorEN: 'Sofya Ivanova'
            })
            +review({
              contentRU: 'точно) ну что могу сказать, хорошо поработали)!!!! посмотрим что будет дальше)', 
              authorRU: 'Анна Попова',
              contentEN: 'definitely) all I can say is well done)!!!! let’s see what happens next)', 
              authorEN: 'Anna Popova'
            })
          .feedback__row
            +review({
              contentRU: 'Опыт - колоссальный и неповторимый, для себя много сделала открытий и вынесла полезного. И я реально была счастлива в эти 24 часа общения. По окончании у меня уже было понимание реальной ситуации и оставался, пожалуй, лишь спортивный интерес.', 
              authorRU: 'Наталья Афанасова',
              contentEN: 'It’s a huge and unique experience. I’ve discovered a lot of new things and got big takeaways from it. I was really happy throughout these 24 hours of communication. By the end, I had an understanding of the actual situation and then, pretty much, only sporting interest was left.', 
              authorEN: 'Natalia Afanasova'
            })
            +review({
              contentRU: 'Спасибо, за работу. Лично мне очень понравилось!', 
              authorRU: 'Рустам Шакиров',
              contentEN: 'Thanks for your work. Personally, I really liked it!', 
              authorEN: 'Rustam Shakirov'
            })
            +review({
              contentRU: 'Я вообще не рассматривала это как поиск новых предложений! Люблю развиваться, учится, общаться! Вот для этого я и решила поучаствовать! А получилось 🔥', 
              authorRU: 'Инга Овсянникова',
              contentEN: "I didn’t consider it a search for new offers! I like to develop, learn, communicate! That's why I decided to participate! But it turned out 🔥", 
              authorEN: 'Inga Ovsyannikova'
            })
            +review({
              contentRU: '🤝👍Поздравляю!!! <br>Спасибо всем,  Друзья! <br>Будем на связи 🤝😊', 
              authorRU: 'Алексей Кашин ',
              contentEN: '🤝 👍 Congratulations!!! <br>Thank you all, friends! <br>Keep in touch 🤝  😊 ', 
              authorEN: 'Alexey Kashin'
            })
            +review({
              contentRU: 'Натягивают сову на глобус ). Опустить нашу команду со 2 на 13 место на второй день после опубликования командного рейтинга - мягко говоря не очень', 
              authorRU: 'Олег Севрюков',
              contentEN: 'Unwarranted actions ). To lower our team from 2 to 13 place on the second day after the publication of the team rating - was, to say the least, not good.', 
              authorEN: 'Oleg Sevryukov'
            })
            +review({
              contentRU: 'Посмотрела рейтинг, критерии странные, короче не берите в голову', 
              authorRU: 'Сания Закирова',
              contentEN: 'As for me, it seems like a failure. How is it possible to change the rules on the go? 🙈', 
              authorEN: 'Sania Zakirova'
            })
      img.feedback__envelope.feedback__envelope--first(src="./img/envelope-1.svg", alt)
      img.feedback__envelope.feedback__envelope--second(src="./img/envelope-2.svg", alt)
