.feedback {
  position: relative;
  padding: 72px 0 162px;
  color: #fff;
  background: $primary;

  @include media-breakpoint-down(lg) {
    padding-top: 50px;
    padding-bottom: 120px;
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 75px;
  }

  .steps__wrapper {
    margin-bottom: 92px;

    @include media-breakpoint-down(lg) {
      margin-bottom: 75px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 57px;
    }
  }

  &__content {
    cursor: grab;
  }

  &__row {
    display: flex;
  }

  &__envelope {
    position: absolute;
    animation: soaring 1.5s infinite ease-in-out;

    &--first {
      top: 42px;
      left: 48.5%;
      animation-delay: .2s;

      @include media-breakpoint-down(lg) {
        right: 5.3%;
        left: auto;
      }

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    &--second {
      right: 250px;
      bottom: 62px;
      animation-delay: .5s;

      @include media-breakpoint-down(lg) {
        right: 300px;
      }

      @include media-breakpoint-down(sm) {
        right: 70px;
        bottom: 50px;
      }
    }
  }
}
