mixin modal(data)
  .modal&attributes(attributes)
    +header
    .modal__wrapper
      .modal__container
        .container
          .modal__main
            .modal__content
              a.modal__close(href="#")
              form.form.modal__form(action="#", method="POST")
                .form__item.form-group
                  h4.mb-10 
                    span.ru Телефон
                    span.en Phone
                  input.input.form-control(type="text", name="phone", required)
                .form__item.form-group
                  h4.mb-10 Email
                  input.input.form-control(type="text", name="email", required)
                button.btn.btn-primary.form__btn(type="submit") 
                  span.ru Отправить заявку
                  span.en Submit
      .modal__success
        .container
          h3.modal__header 
            span.ru Успех!
            span.en Success!
          p.mb-50.text-gray 
            span.ru Свяжемся с вами асап
            span.en We will contact you asap
          p.p--sm
            a.js-modal-back(href="#") 
              span.ru Вернуться назад
              span.en To the main page
      .modal__fail
        .container
          h3.modal__header 
            span.ru Ошибка(
            span.en Error
          p.mb-50.text-gray 
            span.ru По каким-то причинам что-то пошло не так.
            span.en Something went wrong...
          p.p--sm.mb-10
            a(href="#") 
              span.ru Попробовать еще раз
              span.en Try again
          p.p--sm
            a.modal__back.js-modal-back(href="#") 
              span.ru Вернуться назад
              span.en Go back
