.modal {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: #fff;

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__container {
  }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__content {
    position: relative;
    margin-top: 84px;
    padding-top: 44px;
    width: 100%;
    max-width: 576px;

    @include media-breakpoint-down(lg) {
      margin-top: 101px;
      max-width: 480px;
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    background: url(../img/close.svg) no-repeat center;
    background-size: contain;

    @include transition;

    @include media-breakpoint-down(lg) {
    }

    &:hover {
      opacity: .8;
    }
  }

  &__form {
    max-width: 480px;

    @include media-breakpoint-down(lg) {
      max-width: 420px;
    }
  }

  &__success {
    padding-top: 124px;
    display: none;
    flex-grow: 1;
    background: url(../img/modal-success.svg) no-repeat top 244px left -28px;

    @include media-breakpoint-down(lg) {
      padding-top: 145px;
      background: url(../img/modal-success--tab.svg) no-repeat top 375px left 0;
    }
  }

  &__header {
    margin-bottom: 12px;
    font-size: 32px;
    line-height: 1.19;
    font-weight: 700;
    color: $dark;
  }

  &__fail {
    padding-top: 124px;
    display: none;
    flex-grow: 1;
    background: url(../img/modal-fail.svg) no-repeat top 216px left -95px;

    @include media-breakpoint-down(lg) {
      padding-top: 145px;
      background: url(../img/modal-fail--tab.svg) no-repeat top 430px left 0;
    }
  }

  &__back {
    color: #7e8499;
  }

  &__comment {
    color: #cbcfe2;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &--active {
    display: flex;
    flex-direction: column;
  }
}
