h1,
.h1 {
  font-size: 88px;
  line-height: 1.36;
  font-weight: 700;

  @include media-breakpoint-down(lg) {
    font-size: 56px;
    line-height: 1.43;
  }
}

h2,
.h2 {
}

h3,
.h3 {
  font-size: 36px;
  line-height: 1.33;

  @include media-breakpoint-down(lg) {
    font-size: 24px;
    line-height: 1.5;
  }
}

h4,
.h4 {
  font-size: 24px;
  line-height: 1.17;

  @include media-breakpoint-down(lg) {
    line-height: 1.33;
  }

  @include media-breakpoint-down(sm) {
    font-size: 20px;
    line-height: 1.4;
  }
}

h5,
.h5 {
  font-size: 20px;
  line-height: 1.6;

  @include media-breakpoint-down(lg) {
    font-size: 16px;
    line-height: 1.5;
  }
}

h6,
.h6 {
  font-size: 18px;
  line-height: 1.56;
  font-weight: 400;

  @include media-breakpoint-down(sm) {
    font-size: 16px;
    line-height: 1.5;
  }
}

p,
.p {
  font-size: 16px;
  line-height: 1.5;

  &.p--sm {
    font-size: 14px;
    line-height: 1.43;
  }
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-black {
  font-weight: 500;
}

.text-gray {
  color: $gray;
}

ul {

  li {
  }
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
}
