.slider {

  &__wrapper {
    display: flex;
    align-items: flex-start;
    cursor: grab;
  }

  &__item {
    flex-shrink: 0;

    & + & {
      margin-left: 20px;
    }
  }

  &--candidates {

    @include media-breakpoint-down(lg) {
      margin-top: 80px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 40px;
    }

    .slider__item {
      max-width: 840px;

      @include media-breakpoint-down(lg) {
        max-width: 627px;
      }

      @include media-breakpoint-down(sm) {
        max-width: 546px;
      }
    }
  }

  &--teams {

    .slider__item {
      max-width: 950px;

      @include media-breakpoint-down(lg) {
        max-width: 630px;
      }

      @include media-breakpoint-down(sm) {
        max-width: 607px;
      }
    }
  }
}
