mixin slider(data)
  .slider&attributes(attributes)
    .slider__wrapper
  
      if data && data.modifier == 'candidates'
        img.slider__item.ru(src="./img/candidate-card-1.png", alt)
        img.slider__item.ru(src="./img/candidate-card-2.png", alt)
        img.slider__item.ru(src="./img/candidate-card-3.png", alt)
        img.slider__item.ru(src="./img/candidate-card-4.png", alt)
        img.slider__item.ru(src="./img/candidate-card-5.png", alt)
        img.slider__item.ru(src="./img/candidate-card-6.png", alt)
        img.slider__item.ru(src="./img/candidate-card-7.png", alt)
        img.slider__item.ru(src="./img/candidate-card-8.png", alt)
        img.slider__item.ru(src="./img/candidate-card-9.png", alt)
        img.slider__item.ru(src="./img/candidate-card-10.png", alt)
        img.slider__item.ru(src="./img/candidate-card-11.png", alt)
        img.slider__item.ru(src="./img/candidate-card-12.png", alt)
        img.slider__item.en(src="./img/candidate-card-en-1.png", alt)
        img.slider__item.en(src="./img/candidate-card-en-2.png", alt)
        img.slider__item.en(src="./img/candidate-card-en-3.png", alt)
        img.slider__item.en(src="./img/candidate-card-en-4.png", alt)
        img.slider__item.en(src="./img/candidate-card-en-5.png", alt)
        img.slider__item.en(src="./img/candidate-card-en-6.png", alt)
        img.slider__item.en(src="./img/candidate-card-en-7.png", alt)
        img.slider__item.en(src="./img/candidate-card-en-8.png", alt)
        img.slider__item.en(src="./img/candidate-card-en-9.png", alt)
        img.slider__item.en(src="./img/candidate-card-en-10.png", alt)
        img.slider__item.en(src="./img/candidate-card-en-11.png", alt)
        img.slider__item.en(src="./img/candidate-card-en-12.png", alt)


      if data && data.modifier == 'teams'
        img.slider__item.ru(src="./img/team-card-1.png", alt)
        img.slider__item.ru(src="./img/team-card-2.png", alt)
        img.slider__item.ru(src="./img/team-card-3.png", alt)
        img.slider__item.ru(src="./img/team-card-4.png", alt)
        img.slider__item.ru(src="./img/team-card-5.png", alt)
        img.slider__item.ru(src="./img/team-card-6.png", alt)
        img.slider__item.ru(src="./img/team-card-7.png", alt)
        img.slider__item.ru(src="./img/team-card-8.png", alt)
        img.slider__item.ru(src="./img/team-card-9.png", alt)
        img.slider__item.ru(src="./img/team-card-10.png", alt)
        img.slider__item.ru(src="./img/team-card-11.png", alt)
        img.slider__item.ru(src="./img/team-card-12.png", alt)
        img.slider__item.en(src="./img/team-card-en-1.png", alt)
        img.slider__item.en(src="./img/team-card-en-2.png", alt)
        img.slider__item.en(src="./img/team-card-en-3.png", alt)
        img.slider__item.en(src="./img/team-card-en-4.png", alt)
        img.slider__item.en(src="./img/team-card-en-5.png", alt)
        img.slider__item.en(src="./img/team-card-en-6.png", alt)
        img.slider__item.en(src="./img/team-card-en-7.png", alt)
        img.slider__item.en(src="./img/team-card-en-8.png", alt)
        img.slider__item.en(src="./img/team-card-en-9.png", alt)
        img.slider__item.en(src="./img/team-card-en-10.png", alt)
        img.slider__item.en(src="./img/team-card-en-11.png", alt)
        img.slider__item.en(src="./img/team-card-en-12.png", alt)
