mixin about(data)
  .about&attributes(attributes)
    img.about__line.about__line--desktop(src="./img/about-line.svg", alt)
    img.about__line.about__line--tab(src="./img/about-line.svg", alt)
    .about__sections-wrapper
      .about__section
        .container
          .about__section-content
            .row
              .col-sm-9.offset-sm-3.col-lg-8.offset-lg-4
                h3.font-weight-normal.animation--reveal.mb-0
                  span.ru Longpoll — технология для работодателей, помогает найти оптимальных кандидатов на свои вакансии.
                  span.en Longpoll is a tech solution for employers which helps to find the best candidates for their vacancies.
            .about__picture.about__picture--hr
              img.about__picture-img(src="./img/about-1.svg", alt)
              img.about__picture-caption.animation--reveal-delayed(src="./img/about-1-caption.svg", alt)
            .about__picture.about__picture--card-1
              img.about__picture-img(src="./img/about-card-1.svg", alt)
      .about__section
        .container
          .about__section-content
            .about__picture.about__picture--unicorn
              .ru
                img.about__picture-caption.animation--reveal-delayed(src="./img/about-2-caption.svg", alt)
                img.about__picture-caption.about__picture-caption--mob.animation--reveal-delayed(src="./img/about-2-caption-mob.svg", alt)
              .en
                img.about__picture-caption.animation--reveal-delayed(src="./img/about-2-caption-en.svg", alt)
                img.about__picture-caption.about__picture-caption--mob.animation--reveal-delayed(src="./img/about-2-caption-mob-en.svg", alt)
              img.about__picture-img(src="./img/about-2.svg", alt)
            .row
              .col-lg-9
                h3.font-weight-normal.animation--reveal.mb-0
                  span.ru С Longpoll вы найдете именно тех сотрудников, которые нужны вам и пересоберете рабочие группы в эффективные команды. Откажитесь от подписок на кадровые базы
                  span.en With Longpoll, you will find exactly the employees you need and re-assemble workgroups into effective teams. You will be able to close the subscription to HH and other personnel bases and stop spending money on expensive assessment.
            .about__picture.about__picture--card-2
              img.about__picture-img(src="./img/about-card-2.svg", alt)
      .about__section
        .container
          .about__section-content.about__section-content--last
            .row
              .col-sm-9.offset-sm-3
                h3.font-weight-normal.animation--reveal.mb-0
                  span.ru На старте достаточно описать своими словами, как вы видите результат — все остальное сделаем мы. Вот как это работает.
                  span.en At the start, it is enough to describe in your own words how you see the result — we will do the rest. Here's how it works.  
            .about__picture.about__picture--document
              img.about__picture-img(src="./img/about-3.svg", alt)
            .about__picture.about__picture--letters
              img.about__picture-img(src="./img/about-letter-1.svg", alt)
              img.about__picture-img(src="./img/about-letter-2.svg", alt)
              img.about__picture-img(src="./img/about-letter-3.svg", alt)
