.about {
  position: relative;
  color: #fff;
  background: $primary;

  &__line {
    position: absolute;
    max-width: none;

    &--desktop {
      top: 50px;
      left: 0;
      min-width: 100%;

      @include media-breakpoint-down(lg) {
        display: none;
      }
    }

    &--tab {
      display: none;

      @include media-breakpoint-down(lg) {
        top: 115px;
        left: -105px;
        display: block;
        transform: scale(.85);
        transform-origin: top left;
      }

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }

  &__section {
    position: relative;
    display: flex;
    min-height: 100vh;

    @media (max-height: 719px) {
      min-height: 800px;
    }

    @include media-breakpoint-down(lg) {
      min-height: 0;
    }

    &:nth-child(1) {
      padding: 116px 0;

      @include media-breakpoint-down(lg) {
        padding: 62px 0;
      }

      @include media-breakpoint-down(sm) {
        padding: 52px 0;
      }
    }

    &:nth-child(2) {
      padding: 156px 0;

      @include media-breakpoint-down(lg) {
        margin-top: 804px;
      }

      @include media-breakpoint-down(sm) {
        margin-top: 300px;
      }

      .about__section-content {
        display: flex;
        height: 100%;
        align-items: flex-end;

        @include media-breakpoint-down(lg) {
          max-width: 80%;
        }

        @include media-breakpoint-down(sm) {
          max-width: none;
        }
      }
    }

    &:nth-child(3) {
      padding: 206px 0;

      @media (max-height: 799px) {
        min-height: 900px;
      }

      @include media-breakpoint-down(lg) {
        padding: 134px 0 370px;
      }

      @include media-breakpoint-down(sm) {
        padding-top: 163px;
        padding-bottom: 295px;
      }
    }
  }

  &__section-content {
    position: relative;
  }

  &__picture {

    &--hr {
      position: absolute;
      top: 129px;
      left: 0;

      @include media-breakpoint-down(lg) {
        max-width: 308px;
      }

      @include media-breakpoint-down(sm) {
        top: 215px;
        max-width: 182px;
      }

      .about__picture-caption {
        position: absolute;
        top: 390px;
        left: 299px;

        @include media-breakpoint-down(lg) {
          top: 434px;
          left: 247px;
          max-width: 178px;
        }

        @include media-breakpoint-down(sm) {
          top: 195px;
          left: 148px;
        }
      }
    }

    &--card-1 {
      position: absolute;
      top: 404px;
      right: 40px;
      animation: soaring 1.5s infinite ease-in-out;

      @include media-breakpoint-down(lg) {
        top: 180px;
        right: 95px;
        max-width: 124px;
      }

      @include media-breakpoint-down(sm) {
        top: 245px;
        right: 0;
        max-width: 106px;
      }
    }

    &--card-2 {
      position: absolute;
      right: 112px;
      bottom: -115px;
      animation: soaring 1.5s infinite ease-in-out;
      animation-delay: .2s;

      @include media-breakpoint-down(lg) {
        right: 0;
        bottom: -170px;
      }

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    &--unicorn {
      position: absolute;
      top: 0;
      right: 0;

      @include media-breakpoint-down(lg) {
        top: -248px;
        right: -143px;
        max-width: 292px;
      }

      @include media-breakpoint-down(sm) {
        top: 420px;
        right: 0;
        max-width: 247px;
      }

      .about__picture-caption {
        position: absolute;
        top: 22px;
        right: 235px;

        @include media-breakpoint-down(sm) {
          display: none;
        }

        &--mob {
          display: none;

          @include media-breakpoint-down(sm) {
            top: -95px;
            right: auto;
            left: -85px;
            display: block;
          }
        }
      }
    }

    &--document {
      position: absolute;
      top: 226px;
      left: 24px;

      @include media-breakpoint-down(lg) {
        top: 245px;
        left: 27px;
        max-width: 140px;
      }

      @include media-breakpoint-down(sm) {
        top: 230px;
        left: 0;
        max-width: 124px;
      }
    }

    &--letters {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;

      .about__picture-img {
        position: absolute;
        animation: soaring 1.5s infinite ease-in-out;

        &:nth-child(1) {
          bottom: -400px;
          left: 385px;
          animation-delay: .1s;

          @include media-breakpoint-down(lg) {
            bottom: -280px;
            left: 240px;
            max-width: 90px;
          }

          @include media-breakpoint-down(sm) {
            right: -40px;
            bottom: -180px;
            left: auto;
            max-width: 140px;
          }
        }

        &:nth-child(2) {
          bottom: -230px;
          left: 633px;
          animation-delay: .2s;

          @include media-breakpoint-down(lg) {
            bottom: -170px;
            left: 390px;
            max-width: 70px;
          }

          @include media-breakpoint-down(sm) {
            bottom: -142px;
            left: 135px;
            max-width: 50px;
          }
        }

        &:nth-child(3) {
          right: 20px;
          bottom: -225px;
          animation-delay: .3s;

          @include media-breakpoint-down(lg) {
            right: 40px;
            bottom: -245px;
            max-width: 110px;
          }

          @include media-breakpoint-down(sm) {
            bottom: -220px;
            left: 200px;
            max-width: 90px;
          }
        }
      }
    }
  }

  &__picture-img {
    max-width: 100%;
  }

  &__picture-caption {
    max-width: 100%;
  }
}
