/* Bootstrap */

.container {

  @include media-breakpoint-down(lg) {
    padding-right: 24px;
    padding-left: 24px;
  }

  @include media-breakpoint-down(sm) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.btn {
  padding: 24.5px 43.21px 22.5px;
  font-size: 18px;
  line-height: 1.11;
  font-weight: 700;
  border-radius: 14px;

  @include media-breakpoint-down(lg) {
    padding: 15px 27px;
    font-size: 16px;
    line-height: 1.25;
  }

  &.btn-primary {
    color: #fff;
  }
}

/* TypeIt */

.ti-cursor {
  color: $primary !important;
}
