.steps {

  &__item {
    min-height: 100vh;

    @include media-breakpoint-down(lg) {
      min-height: 0;
    }

    &--1 {

      .steps__wrapper {
        display: flex;

        @include media-breakpoint-down(lg) {
          flex-direction: column;
        }
      }

      .steps__left {
        max-width: 288px;
        flex-shrink: 0;

        @include media-breakpoint-down(lg) {
          max-width: 370px;
        }
      }

      .steps__right {
        position: relative;
        margin-top: 35px;
        width: 100%;

        @include media-breakpoint-down(sm) {
          margin-top: 30px;
        }
      }

      .steps__picture {

        @include media-breakpoint-down(lg) {
          margin-left: 76px;
        }

        @include media-breakpoint-down(sm) {
          margin-left: 0;
        }
      }

      .steps__picture-img {
        width: auto;
        max-width: none;
        border-radius: 16px;
        box-shadow: 8.79928px 17.5986px 31.6774px rgba(26, 28, 38, .03);

        @include media-breakpoint-down(lg) {
          max-width: 707px;
        }

        @include media-breakpoint-down(sm) {
          max-width: 412px;
        }

        &.en {
          width: 982px;
        }
      }
    }

    &--2 {
      position: relative;

      @include media-breakpoint-down(lg) {
        background: $light;
      }

      .steps__item-bg {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        background: $light;
        transform: translate(-50%, -50%) scale(.5);
      }

      .steps__wrapper {
        padding: 52px 0;
        display: flex;
        justify-content: space-between;

        @include media-breakpoint-down(lg) {
          padding: 63px 0;
          flex-direction: column;
          justify-content: flex-start;
        }

        @include media-breakpoint-down(sm) {
          padding: 52px 0;
        }
      }

      .steps__left {
        max-width: 723px;
      }

      .steps__right {
        position: relative;
        margin-top: 30px;
        flex-grow: 1;
        text-align: right;

        p {

          @include media-breakpoint-down(lg) {
            display: none;
          }
        }
      }

      .steps__picture {
        position: relative;
        right: -92px;
        margin-top: 232px;

        @include media-breakpoint-down(lg) {
          right: 0;
          margin-top: 0;
        }

        @include media-breakpoint-down(sm) {
          margin-top: 77px;
          max-width: 335px;
        }

        img {
          max-width: none;

          @include media-breakpoint-down(sm) {
            max-width: 100%;
          }
        }
      }

      .steps__picture-caption {
        position: absolute;
        top: -126px;
        left: -3px;

        @include media-breakpoint-down(lg) {
          top: -10px;
        }

        @include media-breakpoint-down(sm) {
          top: -100px;
          max-width: 159px !important;
        }
      }
    }

    &--3 {
      padding: 12px 0 80px;
      background: $light;

      @include media-breakpoint-down(lg) {
        padding-top: 28px;
      }

      @include media-breakpoint-down(sm) {
        padding-top: 18px;
        padding-bottom: 50px;
      }

      .steps__wrapper {
        display: grid;
        grid-template-columns: 5.15fr 7fr;

        @include media-breakpoint-down(lg) {
          display: flex;
          flex-direction: column;
        }
      }

      .steps__dscr {
        max-width: 390px;

        @include media-breakpoint-down(lg) {
          max-width: 442px;
        }
      }

      .steps__question-answer {
        margin-top: 32px;
      }

      .steps__right {
        padding-top: 27px;

        @include media-breakpoint-down(lg) {
          padding-top: 42px;
        }

        @include media-breakpoint-down(sm) {
          padding-top: 30px;
        }

        p {

          @include media-breakpoint-down(lg) {
            max-width: 70%;
          }

          @include media-breakpoint-down(sm) {
            max-width: none;
          }
        }

        .steps__picture--tab {
          display: none;

          @include media-breakpoint-down(lg) {
            margin-top: 70px;
            margin-left: 0;
            display: block;
          }

          @include media-breakpoint-down(sm) {
            margin-top: 50px;
          }

          .steps__picture-img {

            @include media-breakpoint-down(lg) {
              position: static;
            }

            @include media-breakpoint-down(sm) {
              max-width: 360px;
            }
          }
        }
      }

      .steps__picture {
        margin-top: 102px;
        margin-left: 18px;
        animation: soaring 1.5s infinite ease-in-out;

        @include media-breakpoint-down(lg) {
          display: none;
        }
      }

      .steps__picture-img {
        position: absolute;
        max-width: none;
      }
    }

    &--checking {
      position: relative;
      z-index: 1;
      background: $primary;
    }

    &--4 {
      padding: 82px 0 146px;
      background: $light url(../img/dashboard-line.svg) no-repeat top 143px left;

      @include media-breakpoint-down(lg) {
        background-position: top 400px left;
      }

      @include media-breakpoint-down(sm) {
        padding: 55px 0 128px;
      }

      .steps__wrapper {
        display: grid;
        grid-template-columns: 9.45fr 3fr;
        grid-gap: 24px;

        @include media-breakpoint-down(lg) {
          display: flex;
          flex-direction: column-reverse;
        }
      }

      .steps__number {
        width: 100%;
      }

      .steps__right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @include media-breakpoint-down(lg) {
          max-width: 75%;
        }

        @include media-breakpoint-down(sm) {
          max-width: 100%;
        }
      }

      .steps__picture {

        @include media-breakpoint-down(lg) {
          margin-top: 45px;
          max-width: 536px;
        }

        @include media-breakpoint-down(sm) {
          margin-top: 21px;
        }
      }
    }

    &--5 {
      position: relative;
      padding: 72px 0 183px;
      background: $light url(../img/scores-line.svg) no-repeat bottom 90px left;

      @include media-breakpoint-down(lg) {
        padding-top: 0;
        padding-bottom: 173px;
      }

      @include media-breakpoint-down(sm) {
        padding-bottom: 65px;
      }

      .steps__wrapper {
        display: grid;
        grid-template-columns: 3fr 9.45fr;
        grid-gap: 24px;

        @include media-breakpoint-down(lg) {
          display: flex;
          flex-direction: column;
        }
      }

      .steps__left {

        @include media-breakpoint-down(lg) {
          width: 72%;
        }

        @include media-breakpoint-down(sm) {
          width: 100%;
        }
      }

      .steps__right {
        display: flex;
        flex-direction: column;
      }

      .steps__picture {

        @include media-breakpoint-down(lg) {
          margin-top: 45px;
          max-width: 628px;
          align-self: flex-end;
        }

        @include media-breakpoint-down(sm) {
          margin-top: 20px;
        }
      }
    }

    &--teamwork {
    }

    &--7 {
      position: relative;
      padding: 10px 0 234px;
      background: $light;

      @include media-breakpoint-down(lg) {
        padding-bottom: 200px;
      }

      @include media-breakpoint-down(sm) {
        padding-top: 16px;
        padding-bottom: 140px;
      }

      .steps__wrapper {
        margin-bottom: 64px;
        max-width: 650px;

        @include media-breakpoint-down(lg) {
          max-width: 60%;
        }

        @include media-breakpoint-down(sm) {
          margin-bottom: 30px;
          max-width: none;
        }
      }
    }

    &--9 {
    }

    &--11 {
      position: relative;
      padding: 72px 0 434px;
      min-height: 100vh;
      background: $light;

      @include media-breakpoint-down(lg) {
        padding: 50px 0 535px;
        min-height: 0;
      }

      @include media-breakpoint-down(sm) {
        padding-top: 52px;
        padding-bottom: 370px;
      }

      .steps__wrapper {
        max-width: 700px;
      }

      .steps__picture {
        position: absolute;
        right: 64px;
        bottom: 44px;

        @include media-breakpoint-down(lg) {
          right: 20px;
        }

        @include media-breakpoint-down(sm) {
          right: 0;
        }
      }

      .steps__picture-additional {
        position: absolute;
        top: -40px;
        right: 145px;
        animation: soaring 1.5s infinite ease-in-out;

        @include media-breakpoint-down(lg) {
          right: 100px;
        }

        @include media-breakpoint-down(md) {
          top: -20px;
          right: 230px;
        }

        @include media-breakpoint-down(sm) {
          right: 70px;
          max-width: 130px;
        }
      }
    }

    &--primary {
      background: $primary;

      .steps__number {
        color: #fff;
      }
    }
  }

  &__wrapper {
  }

  &__left {
  }

  &__dscr {
  }

  &__number {
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: .96px;

    @include media-breakpoint-down(lg) {
      margin-bottom: 10px;
    }
  }

  &__right {
  }

  &__picture {
  }

  &__picture-main {
    max-width: 965px;

    @include media-breakpoint-down(lg) {
      max-width: 100%;
    }
  }

  &__picture-additional {
    transform: translateY(-10vw);

    @include media-breakpoint-down(md) {
      max-width: 250px;
    }
  }

  &__picture-img {
  }

  &__question-header {
    margin-bottom: 68px;

    @include media-breakpoint-down(lg) {
      margin-bottom: 58px;
      max-width: 444px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 48px;
    }
  }

  &__question-header-link {
    display: none;

    @include media-breakpoint-down(lg) {
      display: block;
    }

    p {

      @include media-breakpoint-down(sm) {
        font-size: 14px;
      }
    }
  }

  &__question {
    margin-bottom: 40px;
    max-width: 648px;

    @include media-breakpoint-down(lg) {
      margin-bottom: 50px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 40px;
    }

    h4 {
      max-width: 97%;
    }
  }

  &__question-answer {
    padding: 12px 16px;
    min-height: 52px;
    font-weight: 400;
    color: $gray;
    border: 1px solid #d4d9ea;
    border-radius: 10px;

    &:before {
      display: none !important;
    }

    @include media-breakpoint-down(lg) {
      max-width: 87%;
    }

    @include media-breakpoint-down(sm) {
      padding: 8px 16px;
      max-width: none;
      min-height: 42px;
    }

    &--big {
      opacity: 0;
      transform: translateY(50px);

      @include media-breakpoint-down(lg) {
        max-width: 628px;
        min-height: 388px;
      }

      @include media-breakpoint-down(sm) {
        max-width: 335px;
        min-height: 568px;
      }

      br {
        display: none;
      }
    }
  }

  &__picture-caption {
  }

  &__dashboard-thing {
    position: relative;
    right: -9px;
    margin-top: 82px;

    @include media-breakpoint-down(lg) {
      position: absolute;
      top: 360px;
      right: -190px;
      width: 145px;
    }

    @include media-breakpoint-down(sm) {
      top: 340px;
      right: 55px;
      width: 100px;
    }
  }

  &__scores-paper {
    position: absolute;
    bottom: 104px;
    left: 308px;

    @include media-breakpoint-down(lg) {
      bottom: 228px;
      left: 65px;
      width: 70px;
    }

    @include media-breakpoint-down(sm) {
      right: 35px;
      bottom: 25px;
      left: auto;
      width: 60px;
    }
  }

  &__slider-wrapper {
    position: relative;

    .container {
      position: relative;
    }

    & + & {
      margin-top: 215px;

      @include media-breakpoint-down(lg) {
        margin-top: 145px;
      }

      @include media-breakpoint-down(sm) {
        margin-top: 150px;
      }
    }
  }

  &__slider-caption {
    position: absolute;

    &--candidates {
      position: absolute;
      top: -122px;
      right: 50px;

      @include media-breakpoint-down(lg) {
        top: -105px;
        right: 20px;
        max-width: 303px;
      }

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    &--candidates-mob {
      display: none;

      @include media-breakpoint-down(sm) {
        position: absolute;
        top: 100%;
        left: 134px;
        display: block;
      }
    }

    &--teams {
      position: absolute;
      top: -102px;
      left: 96px;

      @include media-breakpoint-down(lg) {
        top: -90px;
        left: 20px;
        max-width: 288px;
      }

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    &--teams-mob {
      display: none;

      @include media-breakpoint-down(sm) {
        position: absolute;
        top: calc(100% + 16px);
        left: 159px;
        display: block;
      }
    }
  }

  &__slider-user {
    position: absolute;
    right: 96px;
    bottom: -134px;
    pointer-events: none;

    @include media-breakpoint-down(lg) {
      right: 30px;
      bottom: -100px;
      max-width: 383px;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__slider-user-img {
  }
}
