
include ../blocks/front/front.pug
include ../blocks/modal/modal.pug
include ../blocks/form/form.pug
include ../blocks/input/input.pug
include ../blocks/about/about.pug
include ../blocks/steps/steps.pug
include ../blocks/checking/checking.pug
include ../blocks/teamwork/teamwork.pug
include ../blocks/finish/finish.pug
include ../blocks/results/results.pug
include ../blocks/stats/stats.pug
include ../blocks/data/data.pug
include ../blocks/feedback/feedback.pug
include ../blocks/footer/footer.pug
include ../blocks/socials/socials.pug
include ../blocks/logo/logo.pug
include ../blocks/user/user.pug
include ../blocks/header/header.pug
include ../blocks/slider/slider.pug
include ../blocks/review/review.pug
include ../blocks/animation/animation.pug
include ../blocks/vacancies/vacancies.pug
include ../blocks/wrapper/wrapper.pug