head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=Edge")
  title Longpoll
  link(rel='shortcut icon', href="./img/favicon.ico", type="image/x-icon")
  link(rel='stylesheet', href='css/style.css')
  meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
  meta(name="format-detection", content="telephone=no")
  // The core Firebase JS SDK is always required and must be listed first
  script(src='https://www.gstatic.com/firebasejs/7.8.2/firebase-app.js')
  script(type='text/javascript').
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");    ym(53787271, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true });
  //
    TODO: Add SDKs for Firebase products that you want to use
    https://firebase.google.com/docs/web/setup#available-libraries
  script(src='https://www.gstatic.com/firebasejs/7.8.2/firebase-analytics.js')
  script(src='https://www.gstatic.com/firebasejs/7.8.2/firebase-database.js')
  script(src='https://www.gstatic.com/firebasejs/7.8.2/firebase-firestore.js')
  script.
    // Your web app's Firebase configuration
    var firebaseConfig = {
    apiKey: "AIzaSyCpYN6ymH9S60Fq7PcSzrRWP3Xixrx358o",
    authDomain: "need-editor.firebaseapp.com",
    databaseURL: "https://need-editor.firebaseio.com",
    projectId: "need-editor",
    storageBucket: "need-editor.appspot.com",
    messagingSenderId: "415729167075",
    appId: "1:415729167075:web:74a04e99c0372c533473d6",
    measurementId: "G-V1J9KE6NDV"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
