mixin checking(data)
  .checking&attributes(attributes)
    .container
      .checking__wrapper
        .checking__left
          img.checking__arrow(src="./img/checking-arrow.svg", alt)
        .checking__content
          .steps__number.text-white 03.1
          p.text-white
            span.ru Мы проверяем кейсы кандидатов и выбираем тех, кто пройдет на следующий этап
            span.en We check the cases of the candidates and select those who will go to the next stage
    .checking__line
      img.checking__line-img(src="./img/checking-line.svg", alt)
      .checking__papers-wrapper
        img.checking__paper(src="./img/checking-paper.svg", alt)
    .checking__candidate
      img.checking__candidate-picture(src="./img/checking-candidate.svg", alt)
