.checking {
  padding: 72px 0;
  overflow: hidden;

  @include media-breakpoint-down(lg) {
    padding: 105px 0 470px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 72px;
    padding-bottom: 295px;
  }

  .container {
    max-width: 1270px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 9fr 3fr;

    @include media-breakpoint-down(lg) {
      grid-template-columns: 6.3fr 6fr;
    }

    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__left {
  }

  &__arrow {
    animation: soaring 1.5s infinite ease-in-out;
    animation-delay: .2s;

    @include media-breakpoint-down(lg) {
      max-width: 165px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 23px;
      max-width: 158px;
    }
  }

  &__content {
    opacity: 0;

    @include media-breakpoint-down(lg) {
      margin-top: -20px;
    }
  }

  &__line {
    position: relative;
    margin-top: 52px;

    @include media-breakpoint-down(lg) {
      margin-top: 120px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 80px;
    }
  }

  &__line-img {
    width: 100%;
  }

  &__papers-wrapper {
  }

  &__paper {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -20px;
    opacity: 0;

    @include media-breakpoint-down(lg) {
      max-width: 57px;
    }

    @include media-breakpoint-down(sm) {
      max-width: 41px;
    }
  }

  &__candidate {
    position: absolute;
    bottom: -208px;
    left: 0;

    @include media-breakpoint-down(lg) {
      bottom: -130px;
      width: 300px;
    }

    @include media-breakpoint-down(sm) {
      bottom: -90px;
      width: 165px;
    }
  }

  &__candidate-picture {
  }

  &--animated {

    .checking__paper {
      animation: blinkingPaper 6s steps(1) forwards;
      animation-delay: 1s;
    }

    .checking__candidate {
      animation: blinkingCandidate 4s steps(1) forwards;
      animation-delay: 4s;
    }
  }
}
