.input {
  padding: 12px 16px;
  font-size: 18px;
  line-height: 1.56;
  color: $gray;
  border: 1px solid #d4d9ea;
  border-radius: 10px;

  @include media-breakpoint-down(lg) {
    min-height: 52px;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}
