mixin teamwork(data)
  .teamwork&attributes(attributes)
    .teamwork__container#teamwork-container
      .teamwork__section
        .container
          .steps__wrapper
            .steps__left
              div
                .steps__number 06
                p.text-gray
                  span.ru Важный этап Longpoll — командный. <br>Он позволяет оценить способность кандидатов работать в группе, получать результат, и выявляет лидеров. Мы делим участников на команды алгоритмом: закладываем гипотезы о факторах эффективности команд и проверяем их на выходе.
                  span.en An important stage of Longpoll is the team. It allows you to assess the ability of candidates to work in a group, get results and identify leaders. We divide the participants into teams by the algorithm: we lay down hypotheses about the factors of team effectiveness and check them at the end of the process.  
                p.p--sm.text-gray
                  a(href="https://leader-id.ru/knowledge/79/", target="_blank") 
                    span.ru Подробнее о подготовке командного этапа
                    //span.en Read more about the preparation of the team stage
              img.teamwork__message.teamwork__message--1(src="./img/teamwork-message-1.svg")
            //.teamwork__phone.teamwork__phone--teams
              .teamwork__phone-content
                .teamwork__phone-screen
                  img.teamwork__phone-screen-content(src="./img/phone-teams.png", alt)
                .teamwork__phone-external
                  img.teamwork__phone-img(src="./img/phone-initial.svg", alt)
                  img.teamwork__phone-caption(src="./img/teamwork-phone-caption-0.svg", alt)
                  img.teamwork__phone-caption.teamwork__phone-caption--mob(src="./img/teamwork-phone-caption-0-mob.svg", alt)
            .teamwork__right
              img.teamwork__message.teamwork__message--2(src="./img/teamwork-message-2.svg")
      .teamwork__section
        .container
          .steps__wrapper
            .steps__left
              div
                .steps__number 06
                p.text-gray
                  span.ru Важный этап Longpoll — командный. Он позволяет оценить способность кандидатов работать в группе, получать результат, и выявляет лидеров. Мы делим участников на команды алгоритмом: закладываем гипотезы о факторах эффективности команд и проверяем их на выходе.
                  span.en An important stage of Longpoll is the team. It allows you to assess the ability of candidates to work in a group, get results and identify leaders. We divide the participants into teams by the algorithm: we lay down hypotheses about the factors of team effectiveness and check them at the end of the process.  
                p.teamwork__dscr-tab.text-gray
                  span.ru Командный этап проходит в Телеграме. Участники одним кликом переходят в чат команды, где они вместе пройдут 24-часовой проектный марафон при поддержке чат-бота. 
                  span.en The team stage takes place on Telegram. Participants with one click go to the chat team, where they will take part in a 24-hour marathon with the support of the chatbot. 
                p.p--sm
                  a(href="https://leader-id.ru/knowledge/79/", target="_blank") 
                    span.ru Подробнее о подготовке командного этапа
                    //span.en Read more about the preparation of the team stage
              img.teamwork__message.teamwork__message--1(src="./img/teamwork-message-1.svg")
              img.teamwork__message.teamwork__message--tab.teamwork__message--1(src="./img/teamwork-message-3.svg")
            .teamwork__phone.teamwork__phone--messages
              .teamwork__phone-content
                .teamwork__phone-screen
                  img.teamwork__phone-screen-content.ru(src="./img/phone-messages.png", alt)
                  img.teamwork__phone-screen-content.en(src="./img/phone-messages--en.png", alt)
                  img.teamwork__phone-date.ru(src="./img/phone-date.svg", alt)
                  img.teamwork__phone-date.en(src="./img/phone-date-en.svg", alt)
                  img.teamwork__phone-scroll(src="./img/phone-scroll.svg", alt)
                .teamwork__phone-external
                  img.teamwork__phone-img.ru(src="./img/phone.png", alt)
                  img.teamwork__phone-img.en(src="./img/phone-en.png", alt)
                  img.teamwork__phone-caption.ru(src="./img/teamwork-phone-caption-1.svg", alt)
                  img.teamwork__phone-caption.en(src="./img/teamwork-phone-caption-1-en.svg", alt)
                  img.teamwork__phone-caption.teamwork__phone-caption--tab(src="./img/teamwork-phone-caption-1-tab.svg", alt)
                  .ru
                    img.teamwork__phone-caption--mob(src="./img/teamwork-phone-caption-1-mob.svg", alt)
                  .en
                    img.teamwork__phone-caption--mob(src="./img/teamwork-phone-caption-1-mob-en.svg", alt)
            .teamwork__right
              img.teamwork__message.teamwork__message--2(src="./img/teamwork-message-2.svg")
      .teamwork__section
        .container
          .steps__wrapper
            img.teamwork__message.teamwork__message--tab-1(src="./img/teamwork-message-1.svg")
            img.teamwork__message.teamwork__message--tab-2(src="./img/teamwork-message-4.svg")
            .steps__left
            .teamwork__phone.teamwork__phone--livestream
              .teamwork__phone-content
                .teamwork__phone-screen
                  img.teamwork__phone-screen-content.ru(src="./img/phone-livestream.png", alt)
                  img.teamwork__phone-screen-content.en(src="./img/phone-livestream--en.png", alt)
                  img.teamwork__phone-scroll(src="./img/phone-scroll.svg", alt)
                .teamwork__phone-external
                  img.teamwork__phone-img.ru(src="./img/phone-2.png", alt)
                  img.teamwork__phone-img.en(src="./img/phone-2-en.png", alt)
                  img.teamwork__phone-caption.ru(src="./img/teamwork-phone-caption-2.svg", alt)
                  img.teamwork__phone-caption.en(src="./img/teamwork-phone-caption-2-en.svg", alt)
                  img.teamwork__phone-caption.teamwork__phone-caption--tab(src="./img/teamwork-phone-caption-2-tab.svg", alt)
                  .ru
                    img.teamwork__phone-caption.teamwork__phone-caption--mob(src="./img/teamwork-phone-caption-2-mob.svg", alt)
                  .en
                    img.teamwork__phone-caption.teamwork__phone-caption--mob(src="./img/teamwork-phone-caption-2-mob-en.svg", alt)
            .steps__right
              div
                .steps__number 06
                p.text-gray
                  span.ru Вы в это время можете неспешно почитывать чаты понравившихся команд или заниматься своими делами: ключевые события, о которых стоит знать, мы раз в час публикуем в новостном канале.
                  span.en At the same time, you can slowly read chats of your favorite teams or go about your business: we publish key events that you should know: about once in an hour on the news channel.
              img.teamwork__message.teamwork__message--3(src="./img/teamwork-message-3.svg")
