.teamwork {
  position: relative;

  &__container {
    display: flex;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    .steps__wrapper {
      position: relative;
      z-index: 2;

      @include media-breakpoint-down(sm) {
        position: static;
      }
    }
  }

  &__section {
    position: relative;
    padding: 32px 0 84px;
    display: flex;
    width: 100vw;
    min-height: 100vh;
    align-items: center;
    flex-shrink: 0;
    background: $light;

    @include media-breakpoint-down(md) {
      padding-top: 48px;
    }

    @include media-breakpoint-down(sm) {
      padding-bottom: 50px;
      display: flex;
      min-height: 0;
      flex-direction: column;
      justify-content: flex-end;
      align-items: stretch;
    }

    &:nth-child(1) {
      display: none;

      @include media-breakpoint-down(sm) {
        padding-bottom: 0;
        display: block;
      }

      &:after {
        display: none;

        @include media-breakpoint-down(md) {
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          display: block;
          width: 300vw;
          height: 100%;
          content: '';
          background: url(../img/teamwork-line--big.svg) no-repeat left center;
          background-size: 100% auto;
        }

        @include media-breakpoint-down(sm) {
          display: none;
        }
      }

      @include media-breakpoint-down(sm) {
        background: $light;
      }

      .steps__left {

        @include media-breakpoint-down(md) {
          position: relative;
          margin-bottom: 55px;
          max-width: 536px;
        }

        @include media-breakpoint-down(sm) {
          margin-bottom: 28px;
        }
      }

      .teamwork__message--1 {

        @include media-breakpoint-down(md) {
          position: absolute;
          top: 520px;
          margin-top: 0;
          max-width: 128px;
        }
      }

      .teamwork__message--2 {

        @include media-breakpoint-down(md) {
          position: absolute;
          top: 367px;
          right: 25px;
          margin-top: 0;
          max-width: 128px;
        }

        @include media-breakpoint-down(sm) {
          display: none;
        }
      }

      .teamwork__phone-caption {

        @include media-breakpoint-down(md) {
          position: absolute;
          bottom: 70px;
          left: calc(100% + 22px);
        }

        @include media-breakpoint-down(sm) {
          display: none;
        }

        &--mob {
          display: none;

          @include media-breakpoint-down(sm) {
            position: static;
            margin-top: 18px;
            margin-left: 50px;
            display: block;
          }
        }
      }
    }

    &:nth-child(2) {
      padding-top: 78px;

      @include media-breakpoint-down(sm) {
        padding-top: 0;
      }

      &:after {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        display: block;
        width: 200vw;
        height: 100%;
        content: '';
        background: url(../img/teamwork-line--big.svg) no-repeat left center;
        background-size: 100% auto;

        @include media-breakpoint-down(md) {
          display: none;
        }
      }

      @include media-breakpoint-down(sm) {
        position: relative;
        background: $light;
      }

      .steps__wrapper {
        display: grid;
        grid-template-columns: 4fr 4fr 4fr;
        grid-gap: 24px;

        @include media-breakpoint-down(md) {
          display: flex;
          flex-direction: column;
        }
      }

      .steps__left {

        @include media-breakpoint-down(md) {
          position: relative;
        }

        @include media-breakpoint-down(sm) {
          position: static;
          display: flex;
          flex-direction: column-reverse;
        }

        .steps__number {

          @include media-breakpoint-down(md) {
            display: none;
          }
        }

        p {

          @include media-breakpoint-down(sm) {
            display: none;
          }

          &.teamwork__dscr-tab {

            @include media-breakpoint-down(sm) {
              display: block;
              max-width: 100%;
            }
          }
        }
      }

      .teamwork__message {

        @include media-breakpoint-down(md) {
          display: none;
        }

        @include media-breakpoint-down(sm) {
          position: absolute;
          top: 20px;
          left: 20px;
          margin-top: 0;
          display: block;
        }

        &--1 {

          @include media-breakpoint-down(sm) {
            position: static;
            margin-bottom: 20px;
            max-width: 120px;
            align-self: flex-end;
          }
        }

        &--1-tab {
          display: none;

          @include media-breakpoint-down(md) {
            display: block;
          }

          @include media-breakpoint-down(sm) {
            display: none;
          }
        }

        &--tab {
          display: none;

          @include media-breakpoint-down(md) {
            position: absolute;
            top: 430px;
            right: 0;
            display: block;
            max-width: 128px;
          }

          @include media-breakpoint-down(sm) {
            display: none;
          }
        }
      }

      .teamwork__phone {

        @include media-breakpoint-down(md) {
          margin-top: 120px;
        }

        @include media-breakpoint-down(sm) {
          margin-top: 12px;
          max-width: 247px;
        }
      }

      .teamwork__phone-caption {
        position: absolute;
        bottom: 158px;
        left: calc(100% + 13px);

        @include media-breakpoint-down(md) {
          display: none;
        }

        &--tab {
          display: none;

          @include media-breakpoint-down(md) {
            right: calc(100% + 30px);
            bottom: 135px;
            left: auto;
            display: block;
          }

          @include media-breakpoint-down(sm) {
            display: none;
          }
        }

        &--mob {
          display: none;

          @include media-breakpoint-down(sm) {
            margin-top: 18px;
            margin-left: 28px;
            display: block;
          }
        }
      }
    }

    &:nth-child(3) {
      background-size: contain;

      @include media-breakpoint-down(md) {
        padding-top: 78px;
      }

      @include media-breakpoint-down(sm) {
        position: relative;
        padding-bottom: 90px;
        background: $light;
      }

      .steps__wrapper {
        display: grid;
        grid-template-columns: 4fr 4fr 4fr;
        grid-gap: 24px;

        @include media-breakpoint-down(md) {
          position: relative;
          display: flex;
          flex-direction: column-reverse;
        }

        @include media-breakpoint-down(sm) {
          position: static;
        }
      }

      .steps__number {

        @include media-breakpoint-down(md) {
          display: none;
        }
      }

      .teamwork__message {

        @include media-breakpoint-down(md) {
          display: none;
        }

        @include media-breakpoint-down(sm) {
          position: absolute;
          top: 68px;
          right: 33px;
          margin-top: 0;
          display: block;
        }

        &--tab-1 {
          display: none;

          @include media-breakpoint-down(md) {
            position: absolute;
            top: 341px;
            left: 10px;
            display: block;
            max-width: 128px;
          }

          @include media-breakpoint-down(sm) {
            display: none;
          }
        }

        &--tab-2 {
          display: none;

          @include media-breakpoint-down(md) {
            position: absolute;
            top: 460px;
            right: 5px;
            display: block;
          }

          @include media-breakpoint-down(sm) {
            display: none;
          }
        }

        &--3 {

          @include media-breakpoint-down(sm) {
            top: -8px;
            right: 30px;
            max-width: 120px;
          }
        }
      }

      .teamwork__phone {

        @include media-breakpoint-down(md) {
          margin-top: 96px;
        }

        @include media-breakpoint-down(sm) {
          margin-top: 12px;
        }
      }

      .teamwork__phone-caption {
        position: absolute;
        right: calc(100% + 36px);
        bottom: 122px;

        @include media-breakpoint-down(md) {
          display: none;
        }

        &--tab {
          display: none;

          @include media-breakpoint-down(md) {
            position: absolute;
            top: -80px;
            left: 94%;
            display: block;
          }

          @include media-breakpoint-down(sm) {
            display: none;
          }
        }

        &--mob {
          display: none;

          @include media-breakpoint-down(sm) {
            position: absolute;
            top: calc(100% + 16px);
            right: auto;
            left: 29px;
            display: block;
          }
        }
      }

      .steps__right {
        display: flex;
        flex-direction: column;

        @include media-breakpoint-down(md) {
          max-width: 444px;
        }
      }
    }
  }

  &__phone {
    position: relative;
    padding-top: 10px;
    display: flex;
    justify-content: center;

    @include media-breakpoint-down(sm) {
      justify-content: flex-start;
    }

    &--teams {

      .teamwork__phone-screen {
        top: 105px;
        padding-left: 7.6px;
        height: 429px;

        @include media-breakpoint-down(sm) {
          top: 96px;
          height: 396px;
        }
      }

      .teamwork__phone-screen-content {

        @include media-breakpoint-down(md) {
          animation: phoneScrollTabTeams 15s ease-in-out forwards;
        }

        @include media-breakpoint-down(sm) {
          animation: phoneScrollMobTeams 15s ease-in-out forwards;
        }
      }
    }

    &--messages {

      .teamwork__phone-screen {
        padding-top: 27px;
        padding-right: 20px;
        padding-left: 2px;
      }
    }

    &--livestream {

      .teamwork__phone-screen {
        padding-top: 5px;
        padding-right: 19px;
        padding-left: 4px;
      }
    }
  }

  &__phone-content {
    position: relative;

    @include media-breakpoint-down(md) {
      max-width: 268px;
    }

    @include media-breakpoint-down(sm) {
      max-width: 247px;
    }
  }

  &__phone-external {
  }

  &__phone-screen {
    position: absolute;
    top: 67px;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 496px;

    @include media-breakpoint-down(md) {
      top: 62px;
      left: 0;
      height: 463px;
    }

    @include media-breakpoint-down(sm) {
      top: 58px;
      height: 425px;
    }
  }

  &__phone-screen-content {
    max-width: 100%;
    animation: phoneScroll 15s ease-in-out forwards;

    @include media-breakpoint-down(md) {
      animation: phoneScrollTab 15s ease-in-out forwards;
    }

    @include media-breakpoint-down(sm) {
      animation: phoneScrollMob 15s ease-in-out forwards;
    }
  }

  &__phone-img {
    margin: 0 auto;
    display: block;
    max-width: 288px;

    @include media-breakpoint-down(md) {
      max-width: 268px;
    }

    @include media-breakpoint-down(sm) {
      max-width: 247px;
    }
  }

  &__phone-caption {
  }

  &__phone-date {
    position: absolute;
    top: 4.6px;
    left: 50%;
    opacity: .8;
    transform: translateX(-50%);
  }

  &__phone-scroll {
    position: absolute;
    right: 5px;
    bottom: 5px;
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    @include media-breakpoint-down(sm) {
      position: absolute;
    }
  }

  &__message {

    &--1 {
      margin-top: 134px;
    }

    &--2 {
      position: relative;
      right: -15px;
      margin-top: 62px;
    }

    &--3 {
      margin-top: 196px;
      align-self: flex-end;
    }
  }
}
