.socials {
  display: flex;

  &__item {
    margin-right: 8px;
    display: block;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #d4d9ea;
    border-radius: 10px;

    @include transition;

    &:hover {
      opacity: .8;
    }
  }
}
