mixin socials(data)
  .socials&attributes(attributes)
    a.socials__item(href="https://m.me/youngprofs", target="_blank", style="background-image: url(./img/fb.svg)")
    a.socials__item(href="https://vk.me/tboil_people", target="_blank", style="background-image: url(./img/vk.svg)")
    a.socials__item(href="https://t.me/leaderid_bot", target="_blank", style="background-image: url(./img/tg.svg)")
