.review {
  margin-right: 24px;
  margin-bottom: 60px;
  width: 552px;
  flex-shrink: 0;

  @include media-breakpoint-down(sm) {
    margin-right: 16px;
    width: 292px;
  }

  h5 {

    @include media-breakpoint-down(lg) {
      font-size: 20px;
      line-height: 1.6;
    }

    @include media-breakpoint-down(sm) {
      font-size: 18px;
      line-height: 28px;
    }
  }

  &__author {
    margin-bottom: 0;
    color: #fe753f;
  }
}
