mixin review(data)
  .review&attributes(attributes)
    h5.font-weight-normal.mb-10
      span.ru!= data.contentRU
      span.en!= data.contentEN
    p.p--sm.review__author
      span.ru!= data.authorRU
      span.en!= data.authorEN
