.animation {

  &--reveal {
    opacity: 0;
    transform: translateY(50px);
  }

  &--reveal-right {
    opacity: 0;
    transform: translateX(50px);
  }

  &--reveal-delayed {
    opacity: 0;
    transform: translateY(100px);
  }

  &--reveal-progressive {
    opacity: 0;
    transform: translateY(50px);
  }
}

/* Keyframes */

@keyframes soaring {

  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(8px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes phoneScroll {

  0% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30%);
  }

  50% {
    transform: translateY(-30%);
  }

  60% {
    transform: translateY(-30%);
  }

  70% {
    transform: translateY(-40%);
  }

  80% {
    transform: translateY(-40%);
  }

  90% {
    transform: translateY(-40%);
  }

  100% {
    transform: translateY(calc(-1 * 100% + 463px));
  }
}

@keyframes phoneScrollTab {

  0% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30%);
  }

  50% {
    transform: translateY(-30%);
  }

  60% {
    transform: translateY(-30%);
  }

  70% {
    transform: translateY(-40%);
  }

  80% {
    transform: translateY(-40%);
  }

  90% {
    transform: translateY(-40%);
  }

  100% {
    transform: translateY(calc(-1 * 100% + 425px));
  }
}

@keyframes phoneScrollMob {

  0% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30%);
  }

  50% {
    transform: translateY(-30%);
  }

  60% {
    transform: translateY(-30%);
  }

  70% {
    transform: translateY(-40%);
  }

  80% {
    transform: translateY(-40%);
  }

  90% {
    transform: translateY(-40%);
  }

  100% {
    transform: translateY(calc(-1 * 100% + 396px));
  }
}

@keyframes phoneScrollTabTeams {

  0% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30%);
  }

  50% {
    transform: translateY(-30%);
  }

  60% {
    transform: translateY(-30%);
  }

  70% {
    transform: translateY(-40%);
  }

  80% {
    transform: translateY(-40%);
  }

  90% {
    transform: translateY(-40%);
  }

  100% {
    transform: translateY(calc(-1 * 100% + 429px));
  }
}

@keyframes phoneScrollMobTeams {

  0% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30%);
  }

  50% {
    transform: translateY(-30%);
  }

  60% {
    transform: translateY(-30%);
  }

  70% {
    transform: translateY(-40%);
  }

  80% {
    transform: translateY(-40%);
  }

  90% {
    transform: translateY(-40%);
  }

  100% {
    transform: translateY(calc(-1 * 100% + 396px));
  }
}

@keyframes blinkingPaper {

  0% {
  }

  16.7% {
    opacity: 1;
  }

  19.48% {
    opacity: 0;
  }

  22.26% {
    opacity: 1;
  }

  25.04% {
    opacity: 0;
  }

  27.82% {
    opacity: 1;
  }

  30.6% {
    opacity: 0;
  }

  33.38% {
    opacity: 1;
  }

  39.38% {
    transform: translate(9vw, -1vw);
  }

  45.38% {
    transform: translate(18vw, -.5vw);
  }

  51.38% {
    transform: translate(27vw, 3vw);
  }

  57.38% {
    transform: translate(36vw, 8vw);
  }

  63.38% {
    transform: translate(45vw, 10vw);
  }

  69.38% {
    transform: translate(54vw, 10.5vw);
  }

  75.38% {
    transform: translate(63vw, 10vw);
  }

  81.38% {
    transform: translate(72vw, 9vw);
  }

  87.38% {
    transform: translate(81vw, 7vw);
  }

  93.38% {
    transform: translate(90vw, 5vw);
  }

  100% {
    transform: translate(99vw, 3vw);
  }
}

@keyframes blinkingCandidate {

  0% {
  }

  10% {
    transform: translateX(10vw);
  }

  20% {
    transform: translateX(20vw);
  }

  30% {
    transform: translateX(30vw);
  }

  40% {
    transform: translateX(40vw);
  }

  50% {
    transform: translateX(50vw);
  }

  60% {
    transform: translateX(60vw);
  }

  70% {
    transform: translateX(70vw);
  }

  80% {
    transform: translateX(80vw);
  }

  90% {
    transform: translateX(90vw);
  }

  100% {
    transform: translateX(100vw);
  }
}
