.vacancies {
  position: relative;
  //  margin-top: -50vh;

  &__content {
    padding: 72px 0 110px;
    opacity: 0;
    transform: scale(.44) translate(-215px, 670px);

    @include media-breakpoint-down(lg) {
      padding-top: 63px;
      opacity: 1;
      transform: none;
    }

    @include media-breakpoint-down(sm) {
      padding: 52px 0 75px;
    }
  }

  &__dscr {
    padding-right: 24px;
    opacity: 0;

    @include media-breakpoint-down(lg) {
      padding-right: 0;
      opacity: 1;
    }
  }

  &__picture {
  }

  &__list {
    position: relative;
    background: #fff;
  }

  &__list-content {
    position: absolute;
    width: 100%;

    @include media-breakpoint-down(lg) {
      display: none !important;
    }
  }

  &__cursor {
    position: absolute;
    z-index: 1;
    top: 12vw;
    left: 10vw;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
}
