mixin vacancies(data)
  .vacancies&attributes(attributes)
    .vacancies__list
      img.vacancies__list-content.ru(src="./img/vacancies.png", alt)
      img.vacancies__list-content.en(src="./img/vacancies--en.png", alt)
      img.vacancies__cursor(src="./img/cursor.svg", alt)
      .vacancies__content
        .container
          .steps__wrapper
            .steps__left.vacancies__dscr
              .steps__number 01
              p.text-gray.mb-10.mb-lg-20
                span.ru Longpoll собирает заявки на сайте, выполненном в дизайне вашей компании.
                span.en Longpoll collects applications on a site built in line with your company’s design style.
              p.p--sm
                a(href="https://leader-id.ru/knowledge/63/", target="_blank") 
                  span.ru Как устроен сайт
                  //span.en How the site is designed
            .steps__right
              .steps__picture.vacancies__picture
                img.steps__picture-img.ru(src="./img/card-main.svg", alt)
                img.steps__picture-img.en(src="./img/card-main--en.svg", alt)
