.footer {

  &__top {
    padding: 36px 0 52px;

    @include media-breakpoint-down(sm) {
      padding-top: 25px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__right {

    @include media-breakpoint-down(sm) {
      margin-top: 42px;
    }
  }

  &__right-item {

    & + & {
      margin-top: 16px;

      @include media-breakpoint-down(lg) {
        margin-top: 10px;
      }

      @include media-breakpoint-down(sm) {
        margin-top: 22px;
      }
    }

    a {

      @include media-breakpoint-down(sm) {
        font-size: 18px;
        line-height: 1;
      }
    }

    .socials {

      @include media-breakpoint-down(sm) {
        margin-top: 10px;
      }
    }
  }

  &__right-header {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.33;
    color: $gray;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__bottom {
    padding: 18px 0 20px;
    border-top: 1px solid #d4d9ea;

    @include media-breakpoint-down(lg) {
      padding: 12px 0;
    }

    a {

      @include transition();

      &:hover {
        opacity: .78;
      }
    }
  }
}
