mixin footer(data)
  .footer&attributes(attributes)
    .footer__top
      .container
        .footer__wrapper
          +logo
          .footer__right
            .footer__right-item
              .footer__right-header 
                span.ru Горячая линия:
                span.en Hotline:
              h6.font-weight-bold
                a.text-dark(href="tel:88005504954") 
                  span.ru 8 
                    | 800 550-49-54
                  span.en +7 
                    | 800 550-49-54
            .footer__right-item
              .footer__right-header 
                span.ru Чат-бот:
                span.en Chatbot:
              +socials
    .footer__bottom
      .container
        p.p--sm.mb-0 
          span.ru Сделано
          span.en Made by
        p.font-weight-bold.mb-0 
          a.text-dark(href="https://leader-id.ru/", target="_blank") Leader-ID
