extends ../templates/template.pug
block content
  .wrapper
    +modal
    +front
    +about#about
    .steps
      +vacancies.steps__item.steps__item--1
      .steps__item.steps__item--2
        .steps__item-bg
        .container
          .steps__wrapper
            .steps__left
              .steps__question-header.animation--reveal-delayed
                .steps__number 02
                p.text-gray
                  span.ru Путь участника начинается с анкеты: мы спрашиваем нестандартную машиночитаемую информацию, чтобы использовать эти данные на этапе сбора команд.
                  span.en The participant’s path begins with the questionnaire: we ask for non-standard machine-readable information in order to use this data at the stage of collecting teams. For example, with what applications a person starts the day.
                .steps__question-header-link
                  p
                    a(href="https://leader-id.ru/knowledge/66", target="_blank") 
                      span.ru Какую информацию о кандидатах мы собираем
                      //span.en What information about the candidates we collect
              .steps__question.animation--reveal-delayed
                h4.mb-10 
                  span.ru Какие три приложения вы открываете первыми, начиная рабочий день?
                  span.en What three applications do you open first when you start a working day?
                h6.steps__question-answer.steps__question-answer--1.mb-0
              .steps__question.animation--reveal
                h4.mb-10 
                  span.ru Кого вы считаете экспертами в своей сфере? <br>Перечислите фамилии с коротким объяснением.
                  span.en Who do you consider experts in your field? List the last names with a short explanation.
                h6.steps__question-answer.steps__question-answer--2.mb-0 
              .steps__question.animation--reveal
                h4.mb-10 
                  span.ru Расскажите о вашем главном достижении в 2019 году.
                  span.en Tell us about your main achievement in 2019. Please attach a link with evidence if you can (for example, a link to a post/website/article/news/other).
                h6.steps__question-answer.steps__question-answer--3.mb-0
            .steps__right
              p.p--sm.animation--reveal-delayed
                a(href="https://leader-id.ru/knowledge/66", target="_blank") 
                  span.ru Какую информацию о кандидатах мы собираем
                  //span.en What information about the candidates we collect
              .steps__picture
                .ru
                  img.steps__picture-caption.animation--reveal-delayed(src="./img/steps-candidate-caption.svg", alt)
                .en
                  img.steps__picture-caption.animation--reveal-delayed(src="./img/steps-candidate-caption-en.svg", alt)
                img.steps__picture-img.animation--reveal-right(src="./img/steps-candidate.svg", alt)
      .steps__item.steps__item--3
        .container
          .steps__wrapper
            .steps__left.animation--reveal-progressive
              .steps__number 03
              .steps__dscr
                p.mb-25.text-gray
                  span.ru Следующий шаг — кейс. Кандидаты получают задачу по своей специальности и решают ее. Их решение оценивают эксперты и другие участники. Так мы собираем данные об экспертности кандидатов. 
                  span.en The next step is the case. Candidates receive a task in their specialty and solve it. Their solutions are assessed by experts and other participants. So, we collect data on the expertise of candidates. 
                p.p--sm 
                  a(href="https://leader-id.ru/knowledge/76/", target="_blank") 
                    span.ru Как могут выглядеть кейсы по трекам
                    //span.en What can track cases look like 
              .steps__picture
                img.steps__picture-img(src="./img/steps-case-user.svg", alt)
            .steps__right
              h4.mb-15.animation--reveal-progressive 
                span.ru Перед вами стоит задача создать комнату будущего. Она должна вызывать у посетителей инсайт, почему нужно думать будущим и из будущего.
                span.en Your task is to make room for the future. It should prompt visitors to wonder why people need to think about the future.

              p.font-weight-medium.mb-5.animation--reveal-progressive 
                span.ru 1. Какие технологические решения в нее точно войдут?
                span.en 1. What technological solutions will definitely be included in it?
              p.font-weight-medium.mb-5.animation--reveal-progressive 
                span.ru 2. Какие технологические решения в нее точно не войдут?
                span.en 2. What technological solutions will definitely not be included in it?
              p.font-weight-medium.mb-5.animation--reveal-progressive 
                span.ru 3. Какие шаги нужно предпринять, чтобы ее проходимость была не менее 1 000 000 человек в год?
                span.en 3. What steps need to be taken so that its cross-country ability is at least 1,000,000 people a year?
                h6.steps__question-answer.steps__question-answer--big.mb-0
              .steps__picture.steps__picture--tab
                img.steps__picture-img(src="./img/steps-case-user.svg", alt)
      +checking.steps__item.steps__item--checking
      .steps__item.steps__item--4
        .container
          .steps__wrapper
            .steps__left
              .steps__picture
                img.steps__picture-img.ru(src="./img/steps-dashboard.png", alt)
                img.steps__picture-img.en(src="./img/steps-dashboard--en.png", alt)
            .steps__right.animation--reveal
              .steps__number 04
              p.text-gray
                span.ru Рейтинг по каждому кандидату система считает автоматически: с первой минуты и в реальном времени. В нем можно учесть неограниченное число факторов, например, начислять баллы за прохождение профильных онлайн-курсов на внешних платформах. 
                span.en The system automatically calculates the rating for each candidate: from the first minute and in real-time. It can take into account an unlimited number of factors, for example, to raise points for passing specialized online courses on external platforms.
              img.steps__dashboard-thing(src="./img/dashboard-thing.svg", alt)
      .steps__item.steps__item--5
        .container
          .steps__wrapper
            .steps__left.animation--reveal
              .steps__number 05
              p.text-gray
                span.ru В Longpoll встроена диагностика Университета 20.35: кандидаты получают рекомендации по развитию, а вы — данные о том, последовали они этим рекомендациям или нет. Еще баллы можно получить за прохождение онлайн курсов, чувство вкуса, качественное решение кейса и хорошо заполненный профиль.
                span.en University 20.35 diagnostics are built into Longpoll so that candidates receive development recommendations, and you receive data whether they followed these recommendations or not. 
            .steps__right
              .steps__picture
                img.steps__picture-img.ru(src="./img/steps-scores.png", alt)
                img.steps__picture-img.en(src="./img/steps-scores--en.png", alt)
            img.steps__scores-paper(src="./img/scores-paper.svg", alt)
      +teamwork.steps__item.steps__item--teamwork
      +finish
      .steps__item.steps__item--7
        .container
          .steps__wrapper
            .steps__left.animation--reveal
              .steps__number 07
              p.text-gray
                span.ru Longpoll сгенерирует индивидуальные и командные результаты и предоставит обоснование этих данных, чтобы к ним можно было вернуться в любой момент.
                span.en Longpoll will generate individual and team results and provide justification for this data so that it can be returned at any time.
              p.p--sm.text-gray
                a(href="https://leader-id.ru/knowledge/81/", target="_blank") 
                  span.ru Как оценивать командную работу и личный вклад
                  //span.en How to evaluate teamwork and personal contribution
        .steps__slider-wrapper.steps__slider-wrapper--first
          .container
            .ru
              img.steps__slider-caption.steps__slider-caption--candidates.animation--reveal-delayed(src="./img/steps-slider-caption-1.svg", alt)
              img.steps__slider-caption.steps__slider-caption--candidates.steps__slider-caption--candidates-mob.animation--reveal(src="./img/steps-slider-caption-1-mob.svg", alt)
            .en
              img.steps__slider-caption.steps__slider-caption--candidates.animation--reveal-delayed(src="./img/steps-slider-caption-1-en.svg", alt)
              img.steps__slider-caption.steps__slider-caption--candidates.steps__slider-caption--candidates-mob.animation--reveal(src="./img/steps-slider-caption-1-mob.svg", alt)
            +slider({
              modifier: 'candidates'
            }).slider--candidates.js-slider-candidates
        .steps__slider-wrapper.steps__slider-wrapper--second
          .container
            .ru
              img.steps__slider-caption.steps__slider-caption--teams.animation--reveal-delayed(src="./img/steps-slider-caption-2.svg", alt)
              img.steps__slider-caption.steps__slider-caption--teams-mob.animation--reveal(src="./img/steps-slider-caption-2-mob.svg", alt)
            .en
              img.steps__slider-caption.steps__slider-caption--teams.animation--reveal-delayed(src="./img/steps-slider-caption-2-en.svg", alt)
            +slider({
              modifier: 'teams'
            }).slider--teams.js-slider-teams
            .steps__slider-user
              img.steps__slider-user-img(src="./img/slider-user.svg", alt)
      +stats.steps__item
      +data.steps__item.steps__item--9#data
      +feedback.steps__item
      .steps__item.steps__item--11
        .container
          .steps__wrapper
            .steps__left.animation--reveal
              .steps__number 11
              h3.mb-sm-15.mb-xl-20
                span.ru ...и формирует для вас базу резерва.
                span.en ...and it forms a reserve base for you. 
              p.mb-30.text-gray
                a(href="https://oo.2035.dev/members?track=product", target="_blank")
                  span.ru Вот наша. 
                  span.en Here is ours.
                span.ru Нравится? У вас сделаем еще круче. Верификация участников, смс уведомления об этапах, личные кабинеты экспертов для оценки и другие особенности превращают унылое формирование кадровой базы в азартный вид спорта.
                span.en Like it? We’ll make it even cooler. Verification of participants, SMS notifications of stages, personal expert dashboards for assessment, and other features make the dull formation of a personnel base into a gambling sport.
              a.btn.btn-primary.js-form-btn(href="#") 
                span.ru Подключить
                span.en Connect
          .steps__picture
            img.steps__picture-main(src="./img/steps-all.png", alt)
            img.steps__picture-additional(src="./img/steps-all-additional.svg", alt)
    +footer
