.front {
  position: relative;
  min-height: 100vh;

  @include media-breakpoint-down(lg) {
    min-height: 716px;
  }

  @include media-breakpoint-down(sm) {
    min-height: 636px;
  }

  &__wrapper {
    margin-top: 38px;

    @include media-breakpoint-down(lg) {
      margin-top: 24px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    max-width: 456px;

    @include media-breakpoint-down(lg) {
      max-width: 100%;
    }
  }

  &__picture {
    position: absolute;
    right: 14.5%;
    bottom: 0;
    width: 100%;
    max-width: 466px;

    @media (max-height: 719px) {
      transform: scale(.735);
      transform-origin: bottom right;
    }

    @include media-breakpoint-down(lg) {
      right: 8.5%;
      transform: scale(.735);
      transform-origin: bottom right;
    }

    @include media-breakpoint-down(sm) {
      right: 19%;
      transform: scale(.52);
      transform-origin: bottom right;
    }
  }

  &__picture-main {
    position: relative;
    z-index: 1;
  }

  &__picture-stacks {
    position: absolute;
    bottom: 0;
    left: 50%;
  }

  &__picture-item {
    position: absolute;
    animation: soaring 1.5s infinite ease-in-out;

    img {
      max-width: none;

      @include media-breakpoint-down(sm) {
        transform: scale(.85);
      }
    }

    &:nth-child(1) {
      bottom: 180px;
      left: -530px;
      animation-delay: .3s;

      @include media-breakpoint-down(sm) {
        bottom: 130px;
        left: -440px;
      }
    }

    &:nth-child(2) {
      bottom: 175px;
      left: 353px;
      animation-delay: .1s;

      @include media-breakpoint-down(sm) {
        bottom: 120px;
        left: 265px;
      }
    }

    &:nth-child(3) {
      bottom: 235px;
      left: 147px;
      animation-delay: .2s;

      @include media-breakpoint-down(sm) {
        bottom: 170px;
        left: 95px;
      }
    }

    &:nth-child(4) {
      bottom: -145px;
      left: -403px;
      animation-delay: .4s;

      @include media-breakpoint-down(sm) {
        bottom: -150px;
        left: -345px;
      }
    }

    &:nth-child(5) {
      bottom: 117px;
      left: -381px;
      animation-delay: .5s;

      @include media-breakpoint-down(sm) {
        bottom: 65px;
        left: -325px;
      }
    }

    &:nth-child(6) {
      bottom: 317px;
      left: -211px;
      animation-delay: .6s;

      @include media-breakpoint-down(sm) {
        bottom: 225px;
        left: -190px;
      }
    }

    &:nth-child(7) {
      bottom: -113px;
      left: 71px;
      animation-delay: .7s;

      @include media-breakpoint-down(sm) {
        bottom: -124px;
        left: 27px;
      }
    }
  }
}
