mixin front(data)
  .front&attributes(attributes)
    +header
    .container
      .front__wrapper
        .front__content
          h1.mb-5.mb-xl-10 Longpoll
          h5.mb-30.font-weight-normal.text-gray
            span.ru Сервис многоступенчатых отборов для поиска лучших кандидатов
            span.en Multi-stage selection service to find the best candidates
          a.btn.btn-primary.js-form-btn(href="#") 
            span.ru Подключить
            span.en Connect
        .front__picture
          img.front__picture-main(src="./img/head.svg", alt)
          .front__picture-stacks
            .front__picture-item
              img(src="./img/front-stack-1.svg", alt)
            .front__picture-item
              img(src="./img/front-stack-2.svg", alt)
            .front__picture-item
              img(src="./img/front-stack-3.svg", alt)
            .front__picture-item
              img(src="./img/front-stack-4.svg", alt)
            .front__picture-item
              img(src="./img/front-stack-5.svg", alt)
            .front__picture-item
              img(src="./img/front-stack-6.svg", alt)
            .front__picture-item
              img(src="./img/front-stack-7.svg", alt)
