mixin finish(data)
  .finish&attributes(attributes)
    .finish__content.animation--reveal
      p.text-gray
        span.ru За второй этап команды распределяют между собой продуктовые роли и в формате хакатона сначала придумывают, а после и реализуют свое технологическое решение. Иногда решения получаются настолько удачными, что команды продолжают развивать их и после конкурса.
        span.en In the second stage, teams distribute product-related roles among their members and start developing technological solutions and their implementation  — similar to the hackathon concept. Sometimes these solutions turn out so successful, that the teams keep working on them after the competition.
    img.finish__people(src="./img/finish.svg", alt)
    img.finish__people.finish__people--mob(src="./img/finish-mob.png", alt)
    .ru
      img.finish__people-caption.animation--reveal-delayed(src="./img/finish-caption.svg", alt)
      img.finish__people-caption.finish__people-caption--mob(src="./img/finish-caption-mob.svg", alt)
    .en
      img.finish__people-caption.finish__people-caption--mob.finish__people-caption--mob-en(src="./img/finish-caption-en.svg", alt)
      img.finish__people-caption.animation--reveal-delayed(src="./img/finish-caption-mob-en.svg", alt)

