.finish {
  position: relative;
  padding: 22px 0 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $light;

  @include media-breakpoint-down(sm) {
    padding-top: 0;
  }

  &__content {
    position: absolute;
    max-width: 400px;

    @include media-breakpoint-down(xml) {
      top: 48.2%;
      left: 35%;
    }

    @include media-breakpoint-down(lg) {
      top: 46%;
      left: 30%;
      max-width: 350px;
    }

    @include media-breakpoint-down(sm) {
      top: 39%;
      left: auto;
      padding: 0 20px;
      max-width: 100%;
    }
  }

  &__people {
    margin-left: -74px;
    max-width: none;

    @include media-breakpoint-down(lg) {
      margin-top: 20px;
      margin-left: 0;
      max-width: 187%;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }

    &--mob {
      display: none;

      @include media-breakpoint-down(sm) {
        margin-left: 30px;
        display: block;
        max-width: 789px;
      }
    }
  }

  &__people-caption {
    position: absolute;
    bottom: 121px;
    left: 35%;

    @include media-breakpoint-down(lg) {
      bottom: 100px;
      left: 265px;
      max-width: 265px;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }

    &--mob {
      display: none;

      @include media-breakpoint-down(sm) {
        bottom: 67px;
        left: 78px;
        display: block;
        max-width: none;
      }
    }

    &--mob-en {

      @include media-breakpoint-down(sm) {
        margin-bottom: -50px;
        max-width: 225px;
      }
    }
  }
}
