.header {

  &__wrapper {
    padding: 28px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(lg) {
      padding: 20px 0;
    }

    @include media-breakpoint-down(sm) {
      padding: 24px 0;
    }
  }

  &__language {
    font-size: 20px;
    line-height: 1;
    font-weight: 500;
    color: $dark;

    @include media-breakpoint-down(sm) {
      font-size: 16px;
      line-height: 1.25;
    }
  }
}
