mixin data(data)
  .data&attributes(attributes)
    .container
      .steps__wrapper
        .steps__left
          div
            .steps__number 09
            p.text-gray
              span.ru Главное преимущество Longpoll — в объеме данных о кандидатах. 
              span.en The main advantage of Longpall is in the amount of data on the candidates. 
          .data__wrapper
            .data__tabs-content-wrapper
              .data__tabs-content.data__tabs-content--active
                img.data__card-img.ru(src="./img/candidate-card-13.png", alt)
                img.data__card-img.en(src="./img/candidate-card-13-en.png", alt)
              .data__tabs-content
                img.data__card-img.ru(src="./img/candidate-card-14.png", alt)
                img.data__card-img.en(src="./img/candidate-card-14-en.png", alt)
                .ru
                  img.data__card-caption(src="./img/data-card-caption.svg", alt)
                .en
                  img.data__card-caption(src="./img/data-card-caption-en.svg", alt)
                img.data__card-caption.data__card-caption--tab(src="./img/data-card-caption--tab.svg", alt)
                img.data__card-caption.data__card-caption--mob(src="./img/data-card-caption-mob.svg", alt)
            .steps__right
              .data__tabs
                a.data__tabs-item.data__tabs-item--active(href="#")
                  span.ru Обычная анкета
                  spen.en Basic info
                a.data__tabs-item(href="#") 
                  span.ru Анкета Longpoll
                  span.en Data from Longpoll

              img.data__documents(src="./img/data-documents.svg", alt)
