.data {
  padding: 72px 0 75px;
  min-height: 100vh;
  background: $light;

  @include media-breakpoint-down(lg) {
    padding-top: 95px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 52px;
    padding-bottom: 30px;
  }

  &__wrapper {
    margin-top: 52px;
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      margin-top: 35px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__tabs-content-wrapper {
    position: relative;
    max-width: 768px;
    flex-grow: 1;

    @include media-breakpoint-down(sm) {
      margin-top: 40px;
      width: 100%;
    }
  }

  &__tabs-content {
    opacity: 0;

    @include transition;

    @include media-breakpoint-down(sm) {
      position: absolute;
    }

    &:first-child {
      position: absolute;
      top: 0;
      left: 0;
    }

    &--active {
      opacity: 1;
    }
  }

  &__card-img {
  }

  &__card-caption {
    position: absolute;
    top: 208px;
    left: calc(100% + 30px);

    @include media-breakpoint-down(llg) {
      max-width: 180px;
    }

    @include media-breakpoint-down(md) {
      display: none;
    }

    &--tab {
      display: none;

      @include media-breakpoint-down(md) {
        top: calc(100% + 25px);
        bottom: auto;
        left: 61px;
        display: block;
        max-width: 323px;
      }

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    &--mob {
      display: none;

      @include media-breakpoint-down(sm) {
        top: calc(100% + 18px);
        left: 0;
        display: block;
        max-width: none;
      }
    }
  }

  &__tabs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include media-breakpoint-down(sm) {
      margin-top: -40px;
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__tabs-item {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 1.43;
    color: #7e8499;

    @include transition;

    @include media-breakpoint-down(sm) {
      margin-right: 14px;
    }

    &--active {
      color: $primary;
    }
  }

  &__documents {
    margin-top: 338px;

    @include media-breakpoint-down(lg) {
      margin-top: 285px;
      margin-left: 26px;
      max-width: 158px;
    }

    @include media-breakpoint-down(sm) {
      position: absolute;
      bottom: 20px;
      margin-top: 0;
      margin-left: 200px;
      max-width: 120px;
    }
  }
}
