mixin stats(data)
  .stats&attributes(attributes)
    .stats__container#stats-container
      .stats__section
        .container
          .stats__wrapper
            .steps__number.text-gray 08
            h3.mb-15.mb-xl-20
              span.ru На это вы потратите всего 1 месяц – и получите актуальную базу нужных вам кандидатов вместо холостого перебора резюме из кадровых агентств.
              span.en You will spend only 1 month on this and get an up-to-date database of the candidates you need instead of a blank exhaustive search of resumes from recruitment agencies.
            h6.text-gray.mb-20
              span.ru До Longpoll мы провели 41 кадровый конкурс, в которых были ассессоры, очные групповые мероприятия с рандомным разделением на группы и базы HH для привлечения. 
              span.en Before Longpoll, we held 41 open calls, in which there were assessors, face-to-face group events with a random division into groups and HH bases to attract. 
            p.p--sm
              a(href="https://leader-id.ru/knowledge/66/", target="_blank") 
                span.ru Подробнее про сравнение эффективности
                //span.en More on performance comparison
      .stats__section
        .container
          .stats__wrapper
            h3.stats__section-header.text-gray
              span.ru Обычный отбор в Платформу НТИ, весна 2019
              span.en Routine Selection for NTI Platform, Spring 2019
            .stats__content.stats__content--old
              .stats__item.stats__item--short
                .stats__item-number#js-applications-old(data-count="1", data-number="251") 0
                .stats__item-dscr
                  span.ru заявка
                  span.en applications
              .stats__item.stats__item--short
                .stats__item-number#js-evaluation-old(data-count="2", data-number="411") 0
                .stats__item-dscr
                  span.ru оценка экспертов
                  span.en expert ratings
              .stats__item.stats__item--short
                .stats__item-number#js-finalists-old(data-count="3", data-number="124") 0
                .stats__item-dscr
                  span.ru финалиста
                  span.en finalists
      .stats__section
        .container
          .stats__wrapper
            h3.stats__section-header.text-gray
              span.ru Отбор в Платформу НТИ с помощью Longpoll, весна 2020
              span.en Selection for the NTI Platform with Longpall, Spring 2020
            .stats__content.stats__content--new
              .stats__item.stats__item--long
                .stats__item-old-number 251
                .stats__item-number#js-applications(data-count="4", data-number="13904") 0
                .stats__item-dscr
                  span.ru заявки
                  span.en applications
              .stats__item.stats__item--long
                .stats__item-old-number 411
                .stats__item-number#js-evaluation(data-count="5", data-number="7795") 0
                .stats__item-dscr
                  span.ru оценок экспертов
                  span.en expert ratings
              .stats__item.stats__item--long
                .stats__item-old-number 124
                .stats__item-number#js-finalists(data-count="6", data-number="952") 0
                .stats__item-dscr
                  span.ru финалиста
                  span.en ranked participant based on the results 
