.stats {
  color: #fff;

  .text-gray {
    color: #7e8499;
  }

  &__container {
    display: flex;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__section {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    align-items: center;
    flex-shrink: 0;

    @include media-breakpoint-down(lg) {
      padding-top: 243px;
      align-items: flex-start;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 34px;
      padding-bottom: 45px;
      min-height: 0;
    }

    &:nth-child(1) {
      background: #000 url(../img/stats-bg-1.svg) no-repeat right bottom;
      background-size: contain;

      @include media-breakpoint-down(sm) {
        background-position: bottom right -40px;
        background-size: 325px auto;
      }

      .stats__wrapper {
        max-width: 832px;

        @include media-breakpoint-down(lg) {
          max-width: 630px;
        }
      }
    }

    &:nth-child(2) {
      background: #000 url(../img/stats-bg-2.svg) no-repeat left bottom;
      background-size: contain;

      @include media-breakpoint-down(sm) {
        padding-top: 62px;
      }

      .stats__section-header {
        margin-bottom: 108px;

        @include media-breakpoint-down(lg) {
          margin-bottom: 100px;
        }

        @include media-breakpoint-down(sm) {
          margin-bottom: 40px;
        }
      }
    }

    &:nth-child(3) {
      background: #000 url(../img/stats-bg-3.svg) no-repeat left bottom;
      background-size: contain;

      @include media-breakpoint-down(sm) {
        padding-top: 62px;
      }

      .stats__section-header {
        margin-bottom: 68px;

        @include media-breakpoint-down(sm) {
          margin-bottom: 20px;
        }
      }
    }
  }

  &__wrapper {
  }

  &__content {
    display: flex;

    &--old {

      @include media-breakpoint-down(sm) {
        flex-direction: column;
      }

      .stats__item + .stats__item {
        margin-left: 95px;

        @include media-breakpoint-down(sm) {
          margin-top: 20px;
          margin-left: 0;
        }
      }
    }

    &--new {
      justify-content: space-between;

      @include media-breakpoint-down(sm) {
        flex-direction: column;
      }
    }
  }

  &__item {

    &--short {
      min-width: 250px;

      @include media-breakpoint-down(lg) {
        min-width: 125px;
      }
    }

    &--long {

      @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
      }

      &:nth-child(1) {
        min-width: 400px;

        @include media-breakpoint-down(lg) {
          min-width: 305px;
        }
      }

      &:nth-child(2) {
        min-width: 340px;

        @include media-breakpoint-down(lg) {
          min-width: 265px;
        }
      }

      &:nth-child(3) {
        min-width: 240px;
      }
    }
  }

  &__item-old-number {
    opacity: .5;
    font-size: 24px;
    line-height: 1.33;
    font-weight: 500;
    color: #7e8499;

    @include media-breakpoint-down(lg) {
      font-size: 18px;
      line-height: 1.56;
    }
  }

  &__item-number {
    margin-bottom: 12px;
    font-size: 120px;
    line-height: 1.1;
    font-weight: 500;
    color: #fff;

    @include media-breakpoint-down(lg) {
      font-size: 72px;
      line-height: 1.06;
    }

    @include media-breakpoint-down(sm) {
      //      font-size: 92px;
      //      line-height: 100px;
      margin-bottom: 4px;
    }
  }

  &__item-dscr {
    font-size: 20px;
    line-height: 1.8;
    color: #7e8499;

    @include media-breakpoint-down(lg) {
      font-size: 16px;
      line-height: 1.2;
    }
  }
}
